In [49]:
#importing libraries
import pandas as pd
import numpy as np
import os

print(os.getcwd())
os.chdir('C:\\Users\\jaredrandall\\Downloads\\York')



#read csv file into a pandas dataframe
raw_df = pd.read_csv("gcse.csv")

C:\Users\jaredrandall\Downloads\York

In [50]:
#take a look at the first few rows
print(raw_df)
#raw_df['grade1'].apply(str)

      id    firstname lastname gender         dob           auth  \
0      1    CHARLOTTE   Wright      f    1977/3/6      Bath/Avon
1      2        LEIGH  Roberts     mf   1977/5/31          Herts
2      3      MICHAEL    Clark      m    1977/4/4  Wolverhampton
3      4         LUKE    White      m  1978/11/25      Bath/Avon
4      5       TAYLOR    Clark      m   1979/8/13      Bath/Avon
..   ...          ...      ...    ...         ...            ...
110  111    ALEXANDER   Davies      m  1978/11/20  Wolverhampton
111  112  CHRISTOPHER     Wood      m   1979/10/8  Wolverhampton
112  113       SAMUEL    Jones      m   1979/11/6          Herts
113  114       SAMUEL      NaN      m   1977/2/29      Bath/Avon
114  115      NATASHA   Walker    NaN    1979/5/7          Herts

               subject1 grade1            subject2 grade2            subject3  \
0    English Literature      A               Maths      U    English Language
1      English Language      E      Double Science      B  English Literature
2    English Literature      U               Maths      F      Double Science
3                 Maths      D    English Language     A*      Double Science
4                 Maths      A             History    NaN  English Literature
..                  ...    ...                 ...    ...                 ...
110             Geology      E               Maths      C  English Literature
111    English Language      D             History      K           Geography
112  English Literature      B    English Language      D           Geography
113               Maths     A*               Maths      C      Double Science
114      Double Science      A  English Literature      F             History

    grade3            subject4 grade4            subject5 grade5
0        N           Geography      U             History      1
1        C           Geography      E               Maths      B
2        C             Geology      G             History     A*
3        G           Geography      C  English Literature      E
4        F    English Language      C      Double Science      4
..     ...                 ...    ...                 ...    ...
110      D    English Language      C      Double Science      C
111      C  English Literature      D               Maths      F
112      F             History      C      Double Science      G
113      D  English Literature      B                 NaN      D
114      E               Maths     A*           Geography      F

[115 rows x 16 columns]

In [51]:
#make a copy of the data
copy_df = raw_df.copy()

In [52]:
#making a list of missing value types
missing_values = ["n/a", "na", "?", "NaN", "1", "4", "mf"]
copy_df = pd.read_csv("gcse.csv", na_values = missing_values) #Additional strings to recognize as NA/NaN. If dict passed, specific per-column NA values.

In [53]:
#find total missing values across all features of the data
print (copy_df.isnull().sum())

id           2
firstname    7
lastname     3
gender       5
dob          0
auth         0
subject1     6
grade1       1
subject2     3
grade2       1
subject3     5
grade3       4
subject4     5
grade4       1
subject5     2
grade5       4
dtype: int64

In [54]:
#cols_to_clean = ['grade1']
#for col in cols_to_clean:
    #copy_df[col] = copy_df[col].map(lambda x: x.replace('+','*'))

AttributeError: 'float' object has no attribute 'replace'

In [55]:
print(copy_df['grade1'])

0       A
1       E
2       U
3       D
4       A
       ..
110     E
111     D
112     B
113    A*
114     A
Name: grade1, Length: 115, dtype: object

In [56]:
#replace invalid grading N and K were missing values imputation based on their location (remember in python index starts with 0)

copy_df.loc[6, 'grade1'] = np.nan
copy_df.loc[0, 'grade3'] = np.nan
copy_df.loc[8, 'grade4'] = np.nan
copy_df.loc[21, 'grade5'] = np.nan

In [75]:
print(copy_df.loc[copy_df['grade1'] == "N"]) #finds row that where grade1 has a value of N

      id firstname lastname gender         dob           auth  \
39  40.0    ALEXIS    Smith      f   1978/7/29          Herts
84  85.0  VICTORIA    Clark      f  1979/12/24      Bath/Avon
93  94.0    NATHAN    Smith      m   1979/5/16  Wolverhampton

              subject1 grade1        subject2 grade2          subject3 grade3  \
39           Geography      N           Maths      F    Double Science      E
84  English Literature      N         History      E  English Language      5
93           Geography      N  Double Science      E  English Language      B

            subject4 grade4        subject5 grade5
39  English Language      F         History      B
84             Maths      A  Double Science      B
93           History      U           Maths      G

In [87]:
# create date time format of the DOB column and add at the end of
datetime_format = pd.to_datetime(copy_df['dob'], errors = 'coerce')
#change format to dd/mm/yyyy from yyyy/dd/mm
copy_df['formatted_DOB'] = datetime_format.dt.strftime('%d/%m/%Y')

In [88]:
print(copy_df)

        id     Hobby    firstname lastname gender         dob           auth  \
0      NaN  06031977    CHARLOTTE   Wright      f    1977/3/6      Bath/Avon
1      2.0  31051977        LEIGH  Roberts    NaN   1977/5/31          Herts
2      3.0  04041977      MICHAEL    Clark      m    1977/4/4  Wolverhampton
3      NaN  25111978         LUKE    White      m  1978/11/25      Bath/Avon
4      5.0  13081979       TAYLOR    Clark      m   1979/8/13      Bath/Avon
..     ...       ...          ...      ...    ...         ...            ...
110  111.0  20111978    ALEXANDER   Davies      m  1978/11/20  Wolverhampton
111  112.0  08101979  CHRISTOPHER     Wood      m   1979/10/8  Wolverhampton
112  113.0  06111979       SAMUEL    Jones      m   1979/11/6          Herts
113  114.0       NaN       SAMUEL      NaN      m   1977/2/29      Bath/Avon
114  115.0  07051979      NATASHA   Walker    NaN    1979/5/7          Herts

               subject1 grade1            subject2 grade2            subject3  \
0    English Literature      A               Maths      U    English Language
1      English Language      E      Double Science      B  English Literature
2    English Literature      U               Maths      F      Double Science
3                 Maths      D    English Language     A*      Double Science
4                 Maths      A             History    NaN  English Literature
..                  ...    ...                 ...    ...                 ...
110             Geology      E               Maths      C  English Literature
111    English Language      D             History      K           Geography
112  English Literature      B    English Language      D           Geography
113               Maths     A*               Maths      C      Double Science
114      Double Science      A  English Literature      F             History

    grade3            subject4 grade4            subject5 grade5 formatted_DOB
0      NaN           Geography      U             History    NaN    06/03/1977
1        C           Geography      E               Maths      B    31/05/1977
2        C             Geology      G             History     A*    04/04/1977
3        G           Geography      C  English Literature      E    25/11/1978
4        F    English Language      C      Double Science    NaN    13/08/1979
..     ...                 ...    ...                 ...    ...           ...
110      D    English Language      C      Double Science      C    20/11/1978
111      C  English Literature      D               Maths      F    08/10/1979
112      F             History      C      Double Science      G    06/11/1979
113      D  English Literature      B                 NaN      D           NaN
114      E               Maths     A*           Geography      F    07/05/1979

[115 rows x 18 columns]

In [95]:
mid = copy_df['formatted_DOB']
copy_df.drop(labels=['formatted_DOB'], axis=1, inplace = True)
copy_df.insert(6, 'formatted_DOB', mid)
print(copy_df)

        id    firstname lastname gender         dob           auth  \
0      NaN    CHARLOTTE   Wright      f    1977/3/6      Bath/Avon
1      2.0        LEIGH  Roberts    NaN   1977/5/31          Herts
2      3.0      MICHAEL    Clark      m    1977/4/4  Wolverhampton
3      NaN         LUKE    White      m  1978/11/25      Bath/Avon
4      5.0       TAYLOR    Clark      m   1979/8/13      Bath/Avon
..     ...          ...      ...    ...         ...            ...
110  111.0    ALEXANDER   Davies      m  1978/11/20  Wolverhampton
111  112.0  CHRISTOPHER     Wood      m   1979/10/8  Wolverhampton
112  113.0       SAMUEL    Jones      m   1979/11/6          Herts
113  114.0       SAMUEL      NaN      m   1977/2/29      Bath/Avon
114  115.0      NATASHA   Walker    NaN    1979/5/7          Herts

    formatted_DOB            subject1 grade1            subject2 grade2  \
0      06/03/1977  English Literature      A               Maths      U
1      31/05/1977    English Language      E      Double Science      B
2      04/04/1977  English Literature      U               Maths      F
3      25/11/1978               Maths      D    English Language     A*
4      13/08/1979               Maths      A             History    NaN
..            ...                 ...    ...                 ...    ...
110    20/11/1978             Geology      E               Maths      C
111    08/10/1979    English Language      D             History      K
112    06/11/1979  English Literature      B    English Language      D
113           NaN               Maths     A*               Maths      C
114    07/05/1979      Double Science      A  English Literature      F

               subject3 grade3            subject4 grade4            subject5  \
0      English Language    NaN           Geography      U             History
1    English Literature      C           Geography      E               Maths
2        Double Science      C             Geology      G             History
3        Double Science      G           Geography      C  English Literature
4    English Literature      F    English Language      C      Double Science
..                  ...    ...                 ...    ...                 ...
110  English Literature      D    English Language      C      Double Science
111           Geography      C  English Literature      D               Maths
112           Geography      F             History      C      Double Science
113      Double Science      D  English Literature      B                 NaN
114             History      E               Maths     A*           Geography

    grade5
0      NaN
1        B
2       A*
3        E
4      NaN
..     ...
110      C
111      F
112      G
113      D
114      F

[115 rows x 17 columns]